# Dotnet Ignore
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Godot Ignore
export/
# Godot 4+ specific ignores
.godot/
/android/

# Build
build/
target/

# Database
*.db
*.db-shm
*.db-wal

